.root {
    -fx-background-color: #1E2124;
}

#wellDone {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 60;
    -fx-font-family: Verdana;
}

#scoreTitle {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
}

#score {
	-fx-text-fill: #7289DA;
    -fx-font-size: 70;
}

#playAgain {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#playAgain:hover {
	-fx-background-color : #6076C4;
}

#playAgain:pressed {
	-fx-background-color : #475B9F;
}

#quit {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#quit:hover {
	-fx-background-color : #4A4A4A;
}

#quit:pressed {
	-fx-background-color : #3B3B3C;
}
