.root {
    -fx-background-color: #1E2124;
}

.button:hover {
	-fx-cursor: hand;
}

#wellDone {
    -fx-text-fill: #9AF1A3;
    -fx-font-size: 60;
    -fx-font-family: Verdana;
}

#scoreTitle {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
}

#score {
	-fx-text-fill: #7289DA;
    -fx-font-size: 70;
}

#playAgain {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 35;
    -fx-font-family: Play;
}

#playAgain:hover {
	-fx-background-color: #6076C4;
}

#playAgain:pressed {
	-fx-background-color: #475B9F;
}

#stats {
	-fx-background-color: rgb(155, 132, 238);
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#stats:hover {
	-fx-background-color: rgb(155, 132, 238, 0.7);
}

#stats:pressed {
	-fx-background-color: rgb(155, 132, 238, 0.5);
}

#leaderboard {
	-fx-background-color: rgb(155, 132, 238);
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#leaderboard:hover {
	-fx-background-color: rgb(155, 132, 238, 0.7);
}

#leaderboard:pressed {
	-fx-background-color: rgb(155, 132, 238, 0.5);
}

#menu {
    -fx-background-color: #595959;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#menu:hover {
    -fx-background-color: #4A4A4A;
}

#menu:pressed {
    -fx-background-color: #3B3B3C;
}
