.root {
    -fx-background-color: #1E2124;
}

.button:hover {
	-fx-cursor: hand;
}

#title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 80;
    -fx-font-family: Verdana;
}

#newQuiz {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#newQuiz:hover {
	-fx-background-color: #6076C4;
}

#newQuiz:pressed {
	-fx-background-color: #475B9F;
}

#leaderboard {
	-fx-background-color: rgb(155, 132, 238);
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#leaderboard:hover {
	-fx-background-color: rgb(155, 132, 238, 0.7);
}

#leaderboard:pressed {
	-fx-background-color: #475B9F;
}

#help {
	-fx-background-color: #43B581;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#help:hover {
	-fx-background-color: #36966b;
}

#help:pressed {
	-fx-background-color: #235e44;
}

#quit {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#quit:hover {
	-fx-background-color: #4A4A4A;
}

#quit:pressed {
	-fx-background-color: #3B3B3C;
}
