.root {
    -fx-background-color: #1E2124;
}

#title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 80;
    -fx-font-family: Verdana;
}

#newQuiz {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#newQuiz:hover {
	-fx-background-color : #6076C4;
}

#newQuiz:pressed {
	-fx-background-color : #475B9F;
}

#quit {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#quit:hover {
	-fx-background-color : #4A4A4A;
}

#quit:pressed {
	-fx-background-color : #3B3B3C;
}
