.root {
    -fx-background-color: #1E2124;
}

.tooltip {
	-fx-font-size: 20;
}

.button:hover {
	-fx-cursor: hand;
}

#sound {
	-fx-background-color: transparent;
}

.macrons .button {
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #7289DA;
}

.macrons .button:hover {
    -fx-background-color: #6076C4;
}

.macrons .button:pressed {
	-fx-background-color: #475B9F;
}

#score {
    -fx-text-fill: #7289DA;
    -fx-font-size: 90;
    -fx-font-family: Verdana;
}

#correct {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
}

#hint {
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
}

#submit {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 40;
    -fx-font-family: Play;
}

#submit:hover {
	-fx-background-color: #6076C4;
}

#submit:pressed {
	-fx-background-color: #475B9F;
}

#skip {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 35;
    -fx-font-family: Play;
}

#skip:hover {
	-fx-background-color: #4A4A4A;
}

#skip:pressed {
	-fx-background-color: #3B3B3C;
}

#input {
	-fx-font-size: 40;
	-fx-background-color: #CCCCCC;
}

#showLetters {
	-fx-font-size: 100;
}

#slow {
	-fx-font-size: 30;
	-fx-text-fill: #FFFFFF;
}

#fast {
	-fx-font-size: 30;
	-fx-font-style: italic;
	-fx-text-fill: #FFFFFF;
}

#speed {
    -fx-control-inner-background: #FFFFFF;
}

#speed .thumb {
    -fx-background-color: rgb(155, 132, 238);
}

#speed .thumb:hover {
	-fx-cursor: hand;
}

#menu {
    -fx-background-color: #595959;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 40;
    -fx-font-family: Play;
}

#menu:hover {
    -fx-background-color: #4A4A4A;
}

#menu:pressed {
    -fx-background-color: #3B3B3C;
}

#progressLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 35;
    -fx-font-family: Verdana;
}
