.root {
    -fx-background-color: #1E2124;
}

#title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Verdana;
}

#start {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#start:hover {
	-fx-background-color : #6076C4;
}

#start:pressed {
	-fx-background-color : #475B9F;
}

#topics {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}
