.root {
    -fx-background-color: #1E2124;
}

.tooltip {
	-fx-font-size: 20;
}

.button:hover {
	-fx-cursor: hand;
}

.list-cell {
    -fx-text-fill: #cacbce;
    -fx-alignment: center;
    -fx-font-size: 24;
}

.list-cell:hover {
	-fx-cursor: hand;
}

.list-cell:even {
    -fx-background-color: #36393e;
}

.list-cell:odd {
    -fx-background-color: #36393e;
}

.list-cell:filled:hover {
    -fx-background-color: #474b52;
    -fx-text-fill: #b0b1b5;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #7289da;
    -fx-text-fill: white;
}

#title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Verdana;
}

#search {
	-fx-font-size: 30;
	-fx-background-color: #CCCCCC;
}

#back {
    -fx-background-color: #595959;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#back:hover {
	-fx-background-color: #4A4A4A;
}

#back:pressed {
	-fx-background-color: #3B3B3C;
}

#practice {
	-fx-background-color: #43B581;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#practice:hover {
	-fx-background-color: #36966b;
}

#practice:pressed {
	-fx-background-color: #235e44;
}

#start {
	-fx-background-color: #7289DA;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: Play;
}

#start:hover {
	-fx-background-color: #6076C4;
}

#start:pressed {
	-fx-background-color: #475B9F;
}

#topics {
	-fx-background-color: #595959;
	-fx-text-fill: #FFFFFF;
    -fx-font-size: 50;
    -fx-font-family: Play;
}

#randomTopicCheck {
    -fx-text-fill: #FFFFFF;
}
